html, body {
    background-color: #fff;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    background-color: cadetblue;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
}

.title {
    color: ghostwhite;
    font-size: 50px;
}

.links {
    background-color: azure;
    padding: 20px;
}

.links > a {
    color: #636b6f;
    padding: 0 40px 0 40px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    
}

.m-b-md {
    margin-bottom: 30px;
}

/* Mis estilos */

.links a:hover{
    background-color: white;
    padding: 40px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: darkslategray;
    text-align: right;
}

.card-img-top {
    height: 180px;
    width: 286px;
    object-fit: contain;

}

.container {
    padding-top: 15px;
}

.card-title {
    height: 47px;
}